$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-smallest) {
    font-size: 50%;
  }
}

body {
  font-family: "system-ui", sans-serif;
  background-color: #f8fafc;
}

.card {
  width: 90%;
  max-width: 47rem;
  background: linear-gradient(
    60deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: black;
  margin: 10rem auto 0;
  border-radius: 2rem;
  padding: 4rem 3.5rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  box-shadow: 0 2rem 3rem 0.5rem rgba(rgb(0, 0, 0), 0.2);

  &.sunny {
    background: linear-gradient(-30deg, #ffff75, #ffbc41);
  }
  &.night {
    background: linear-gradient(30deg, #360033, #0b8793);
    color: white;
  }
  &.cloudy {
    background: linear-gradient(-60deg, #909da4, #adc0be);
  }
  &.partly-cloudy {
    background: linear-gradient(24deg, #f0aec9, #a590ce);
  }
  &.rain {
    background: linear-gradient(140deg, #76c4f2, #2ecdbb);
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 4rem 2rem;
  }
}
