// @import 'base';
// @import 'components';
// @import 'header';
// @import 'preview';
// @import 'searchResults';
// @import 'recipe';
// @import 'upload';

* {
  margin: 0;
  padding: 0;
  font-family: "system-ui", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
}

// .hidden {
//   display: none;
// }

.card {
  width: 90%;
  max-width: 47rem;
  color: black;
  margin: 10rem auto 0;
  border-radius: 2rem;
  padding: 4rem 3.5rem;
  text-align: center;
  box-shadow: var(--shadow-4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;

  &.sunny {
    background: linear-gradient(-30deg, #ffff75, #ffbc41);
  }
  &.cloudy {
    background: linear-gradient(-60deg, #909da4, #adc0be);
  }
  &.partly-cloudy {
    background: linear-gradient(24deg, #f0aec9, #a590ce);
  }
  &.rain {
    background: linear-gradient(140deg, #76c4f2, #2ecdbb);
  }
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #f0f2f5;
  color: #555;
  padding: 1rem 2.5rem;
  height: 6rem;
  border-radius: 3rem;
  flex: 1;
  margin-right: 1.6rem;
  font-size: 1.8rem;
}

.search button {
  border: 0;
  outline: 0;
  background: #f0f2f5;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

.search button img {
  width: 1.5rem;
}

.weather {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weather-icon {
  position: absolute;
  align-self: center;
  margin-top: -9rem;
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
}

.temp {
  & span {
    font-size: 8rem;
    font-weight: 500;
  }
}

.city {
  margin-top: 2rem;

  & span {
    font-size: 4rem;
    font-weight: 400;
    margin-top: 2rem;
  }
}

.description {
  // margin-top: 1rem;

  & span {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 2rem;
  }
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  gap: 2rem;
}

.col {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__icon {
    & img {
      width: 5rem;
    }
  }
}

.humidity,
.wind {
  font-size: 2rem;
  margin-top: -0.6rem;
  color: black;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: black;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer open-props {
  /*  https://open-props.style/  */
  :root {
    --shadow-4: 0 -2px 5px 0 hsl(var(--shadow-color) /
            calc(var(--shadow-strength) + 2%)),
      0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
      0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
      0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
      0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
      0 16px 16px -2px hsl(var(--shadow-color) /
            calc(var(--shadow-strength) + 6%));
    --shadow-color: 220 3% 15%;
    --shadow-strength: 5%;
  }
}
