@use "base";
$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 22.8em; // 500px

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #fff;
  color: #555;
  padding: 1rem 2.5rem;
  height: 4.8rem;
  border-radius: 3rem;
  flex: 1;
  margin-right: 1.6rem;
  font-size: 1.8rem;
}

.search button {
  border: 0;
  outline: 0;
  background: #fff;
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
}

.search button img {
  padding-top: 0.255rem;
  width: 1.5rem;
}

.error {
  padding: 3rem;
  border-radius: 2rem;
  background: #fff;
  opacity: 0.6;
  font-size: 2rem;
  font-weight: 300;
}

.weather {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weather-icon {
  position: absolute;
  align-self: center;
  margin-top: -9rem;
  background-color: white;
  border-radius: 100%;

  & img {
    width: 10rem;
  }
}

.temp {
  & span {
    font-size: 8rem;
    font-weight: 500;
  }
}

.city {
  margin-top: 2rem;

  & span {
    font-size: 4rem;
    font-weight: 400;
    margin-top: 2rem;
  }
}

.description {
  & span {
    font-size: 3rem;
    font-weight: 300;
    margin-top: 2rem;
  }
}

.details {
  width: 100%;
  display: grid;
  margin-top: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  @media only screen and (max-width: $bp-smallest) {
    gap: 0.5rem;
  }

  &__content {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0.15rem 0.15rem 0.3rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    min-width: none;

    &_title {
      padding-top: 0.5rem;
      font-size: 1.5rem;
    }

    &_icon {
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        width: 4rem;
        filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3));
      }

      & span {
        font-size: 1.5rem;
        font-weight: 500;
        color: inherit;

        @media only screen and (max-width: $bp-smallest) {
          font-size: 1.3rem;
          font-weight: 600;
        }
      }
    }
  }
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: black;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
